@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    min-width: 144px;
    font-family: 'Roboto', sans-serif;
}

// Header

header {
    background-color: $black;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 10px 25px;
    z-index: 2;
}

.navbar { 
    text-align: center; 
    width: fit-content; 
    list-style: none;
    margin: 0;
    padding: 0;

    ul { 
        display: inline-block; 
    } 

    li { 
        float: left;
    } 

    li + li { 
        margin-left: 60px; 
    } 
} 

.header-link {
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
        color: $gray;
    }
}

section {
    max-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

// Presentation

#presentation {
    background: $white;
    color: $black;
    height: 100vh;
}

.initials {
    position: relative;
    width: fit-content;
    top: 40%;
    left: 25%;
    text-align: right;
    font-size: 1.75em;

    h1, p {
        margin: 0;
        padding: 0;
    }

    #greetings {
        font-size: 1.25em;
    }

    #names {
        font-weight: bold;
        font-size: 1.25em;
    }
}

#anim-container {
    position: absolute;
    right: 0;
}

.anim-typewriter {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    font-size: 1em;
    width: max-content;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::before {
        background: $white;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards;
    }

    &::after {
        width: 0.125em;
        background: black;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards,
                    blink 750ms steps($typewriterCharacters) infinite;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

// About me

#about-me {
    background: $dark-gray;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 0;
    width: calc(100% - 100px);
    font-size: 1.22em;

    h3 {
        width: fit-content;
        border-bottom: 1px solid $white;
    }

    p {
        max-width: 1400px;
    }

    p span {
        color: $aqua;
    }

    .even {
        padding-left: 25px;
        border-left: 1px solid $white;
    }
}

// Skills

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, $dark-gray, $aqua);
    font-size: 1.75em;

    h3 {
        width: fit-content;
        border-bottom: 1px solid $white;
        color: #fff;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrapper {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        width: calc(33% - 20px);
        background: $dark-gray;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 20px;

        .text {
            font-size: 20px;
            font-weight: 500;
        }

        .circle .box span,
        .text {
            background: -webkit-linear-gradient(left, $aqua, $blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .card .circle {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;

        .box, .box span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.1s;
        }

        .box {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        &:hover .box {
            transform: translate(-50%, -50%) scale(1.07);
        }

        .box span {
            font-size: 1.25em;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
}

// Projects

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    background: $gray;

    h3 {
        font-size: 1.75em;
        width: fit-content;
        border-bottom: 1px solid $black;
        color: $black;
    }
}

.slideshow-container {
    position: relative;
}
  
.mySlides {
    display: none;

    img {
        height: 600px;
        width: 1160px;
    }
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.carousel-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -30px;
    width: calc(100% - 24px);
    text-align: center;
    background: rgba($black, .85);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background: rgba($black, .85);
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

// Footer

footer {
    position: relative;
    bottom: 0;
    background-color: $dark-gray;
    width: 100%;
    height: 200px;

    p {
        margin: 0;
    }
}

@media (max-width: 753px) {
    body {
        font-size: 14px;
    }
    .wrapper {
        width: 100%;

        .card {
            width: calc(50% - 20px);
        }
    }
}

@media (max-width: 505px) {
    body {
        font-size: 14px;
    }

    #presentation {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        .initials {
            position: 0;
        }
    }

    #about-me {
        padding: 20px;
        width: calc(100% - 40px);
    }

    .wrapper {
        width: 100%;
        margin-left: 25px;
        margin-right: 25px;

        .card {
            width: 100%;
        }
    }    
}