@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    min-width: 144px;
    font-family: 'Roboto', sans-serif;
}

// Header

header {
    background-color: $black;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 10px 25px;
    z-index: 2;
}

.navbar { 
    text-align: center; 
    width: fit-content; 
    list-style: none;
    margin: 0;
    padding: 0;

    ul { 
        display: inline-block; 
    } 

    li { 
        float: left;
    } 

    li + li { 
        margin-left: 60px; 
    } 
} 

.header-link {
    color: $white;
    text-decoration: none;

    &:hover, &:focus {
        color: $gray;
    }
}

section {
    max-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

// Presentation

#presentation {
    background: $white;
    color: $black;
    height: 100vh;
}

.initials {
    position: relative;
    width: fit-content;
    top: 40%;
    left: 25%;
    text-align: right;
    font-size: 1.75em;

    h1, p {
        margin: 0;
        padding: 0;
    }

    #greetings {
        font-size: 1.25em;
    }

    #names {
        font-weight: bold;
        font-size: 1.25em;
    }
}

#anim-container {
    position: absolute;
    right: 0;
}

.anim-typewriter {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    font-size: 1em;
    width: max-content;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::before {
        background: $white;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards;
    }

    &::after {
        width: 0.125em;
        background: black;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards,
                    blink 750ms steps($typewriterCharacters) infinite;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

// About me

#about-me {
    background: $dark-gray;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 0;
    width: calc(100% - 100px);
    font-size: 1.22em;

    h3 {
        width: fit-content;
        border-bottom: 1px solid $white;
    }

    p {
        max-width: 1400px;
    }

    p span {
        color: $aqua;
    }

    .even {
        padding-left: 25px;
        border-left: 1px solid $white;
    }
}

// Skills

#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.wrapper {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        width: calc(33% - 20px);
        background: #fff;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 20px;

        .text {
            font-size: 20px;
            font-weight: 500;
        }

        .circle .box span,
        .text {
            background: -webkit-linear-gradient(left, #a445b2, #fa4299);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .card .circle {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;

        .box, .box span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.1s;
        }

        .box {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        &:hover .box {
            transform: translate(-50%, -50%) scale(1.07);
        }

        .box span {
            font-size: 2em;
            font-weight: 600;
            font-family: sans-serif;
        }
    }
}

// Projects

// Footer

footer {
    position: relative;
    bottom: 0;
    background-color: pink;
    width: 100%;
    height: 200px;

    p {
        margin: 0;
    }
}

@media (max-width: 753px) {
    body {
        font-size: 14px;
    }
    .wrapper {
        width: 700px;

        .card {
            width: calc(50% - 20px);
        }
    }
}

@media (max-width: 505px) {
    body {
        font-size: 14px;
    }

    .wrapper {
        width: 700px;

        .card {
            width: 100%;
        }
    }

    #about-me {
        padding: 20px;
        width: calc(100% - 40px);
    }

    #presentation {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        .initials {
            position: 0;
        }
    }
}