@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap');

body {
    margin: 0;
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: $header-bcg;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 5px;
}

.navbar { 
    text-align:center; width: 100%; 
    list-style: none;

    ul { display:inline-block; } 

    li { float:left; } 

    li + li { margin-left:20px; } 
} 

.header-link {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
        color: brown;
    }
}

section {
    width: 100%;
    height: 100vh;
    border-top: 1px solid black;
}

#presentation {
}

.initials {
    position: relative;
    width: fit-content;
    top: 40%;
    left: 25%;
    text-align: right;
    font-size: 1.75em;

    h1, p {
        margin: 0;
        padding: 0;
    }

    #greetings {
        font-size: 1.25em;
    }

    #names {
        font-weight: bold;
        font-size: 1.25em;
    }
}

#anim-container {
    position: absolute;
    right: 0;
}

.anim-typewriter {
    font-family: 'Source Code Pro', monospace;
    position: relative;
    font-size: 1em;
    width: max-content;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &::before {
        background: $presentaion-bcg;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards;
    }

    &::after {
        width: 0.125em;
        background: black;
        animation: typewriter $typewriterSpeed
                    steps($typewriterCharacters) 1s forwards,
                    blink 750ms steps($typewriterCharacters) infinite;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#about-me {
    background-color: #f123f4;
}

#skills {
    background-color: #12f324;
}

footer {
    position: relative;
    bottom: 0;
    background-color: pink;
    width: 100%;
    height: 200px;

    p {
        margin: 0;
    }
}