@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Code+Pro:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  min-width: 144px;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #222831;
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 10px 25px;
  z-index: 2;
}

.navbar {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar ul {
  display: inline-block;
}
.navbar li {
  float: left;
}
.navbar li + li {
  margin-left: 60px;
}

.header-link {
  color: #EEEEEE;
  text-decoration: none;
}
.header-link:hover, .header-link:focus {
  color: #D6D6D6;
}

section {
  max-width: 100%;
  min-height: 100vh;
  z-index: 1;
}

#presentation {
  background: #EEEEEE;
  color: #222831;
  height: 100vh;
}

.initials {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 40%;
  left: 25%;
  text-align: right;
  font-size: 1.75em;
}
.initials h1, .initials p {
  margin: 0;
  padding: 0;
}
.initials #greetings {
  font-size: 1.25em;
}
.initials #names {
  font-weight: bold;
  font-size: 1.25em;
}

#anim-container {
  position: absolute;
  right: 0;
}

.anim-typewriter {
  font-family: "Source Code Pro", monospace;
  position: relative;
  font-size: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.anim-typewriter::before, .anim-typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.anim-typewriter::before {
  background: #EEEEEE;
  -webkit-animation: typewriter 2s steps(13) 1s forwards;
          animation: typewriter 2s steps(13) 1s forwards;
}
.anim-typewriter::after {
  width: 0.125em;
  background: black;
  -webkit-animation: typewriter 2s steps(13) 1s forwards, blink 750ms steps(13) infinite;
          animation: typewriter 2s steps(13) 1s forwards, blink 750ms steps(13) infinite;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
#about-me {
  background: #393E46;
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 0;
  width: calc(100% - 100px);
  font-size: 1.22em;
}
#about-me h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #EEEEEE;
}
#about-me p {
  max-width: 1400px;
}
#about-me p span {
  color: #00ADB5;
}
#about-me .even {
  padding-left: 25px;
  border-left: 1px solid #EEEEEE;
}

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

.wrapper {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper .card {
  width: calc(33% - 20px);
  background: #fff;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.wrapper .card .text {
  font-size: 20px;
  font-weight: 500;
}
.wrapper .card .circle .box span,
.wrapper .card .text {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .card .circle {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.wrapper .card .circle .box, .wrapper .card .circle .box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s;
}
.wrapper .card .circle .box {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.wrapper .card .circle:hover .box {
  transform: translate(-50%, -50%) scale(1.07);
}
.wrapper .card .circle .box span {
  font-size: 2em;
  font-weight: 600;
  font-family: sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  background-color: pink;
  width: 100%;
  height: 200px;
}
footer p {
  margin: 0;
}

@media (max-width: 753px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    width: 700px;
  }
  .wrapper .card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media (max-width: 505px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    width: 700px;
  }
  .wrapper .card {
    width: 100%;
  }

  #about-me {
    padding: 20px;
    width: calc(100% - 40px);
  }

  #presentation {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  #presentation .initials {
    position: 0;
  }
}/*# sourceMappingURL=index.css.map */