@import '_variables';

body {
    margin: 0;
    min-width: 250px;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px;
}

.header-link {
    color: white;


    &:hover, &:focus {
        color: brown;
    }
}

section {
    width: 100%;
    height: 100vh;
    border-top: 1px solid black;
}

#presentation {
    background-color: #f12f4f;
}

#about-me {
    background-color: #f123f4;
}

#skills {
    background-color: #12f324;
}

footer {
    position: relative;
    bottom: 0;
    background-color: pink;
    width: 100%;
    height: 200px;
    
    p {
        margin: 0;
    }
}